//@import "~bootstrap/scss/bootstrap";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #ff0061 !default;
$secondary: #efa7bf !default;
$success: #409d35 !default;
$info: #dcf6ff !default;
$warning: #e9ab00 !default;
$danger: #e65540 !default;
$light: #d2dbe1 !default;
$dark: #030439 !default;

$enable-rounded: false !default;

$body-bg: $info !default;
$body-color: $dark !default;

$link-decoration: none !default;

$burger-background-color: $dark !default;
$burger-stroke-width: 5 !default;
$burger-stroke-color: $light !default;

$modal-backdrop-bg:                 #000 !default;
$modal-backdrop-opacity:            .7 !default;
$modal-header-border-color: transparent !default;
$modal-header-border-width: 0 !default;

$input-bg: #fff;
$input-border-color: $light;
$input-border-width: 2px;

$form-label-font-weight: 700;

$card-border-width:                 0;
$card-bg:                           $body-bg !default;

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/card";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
//@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/close";
//@import "bootstrap/scss/modal";
@import "bootstrap/scss/offcanvas";
//@import "bootstrap/scss/spinners";

@import "bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@import "global";
